@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');

.App {
  text-align: center;
  font-family: 'Alumni Sans Inline One', cursive;
}

button{
  font-family: 'Alumni Sans Inline One', cursive;
}

body{
  background-color: #F2D16B;
}

.field-pedestal-container{
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

